html {
    font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}
body {
    background-color: #f0f8ff;
    padding: 2%;
}
h3 {
    text-align: center;
}
table.list {
    width: 100%;
    text-align: center;
}
table.list tr:nth-child(odd) {
    background-color: #ffffff;
}
table.list tr:nth-child(even) {
}